.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 0;
  margin: 0 auto;
  list-style-type: none;
}

.gallery li {
  width: calc((100% - 2 * 24px) / 3);
}

.gallery img:hover {
  transform: scale(1.03);
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sl-wrapper.simple-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}
