.feedback-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  row-gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.feedback-form label {
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 8px;
}

.feedback-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  padding: 16px 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  padding: 16px 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  resize: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
}

.feedback-form input:active,
.feedback-form textarea:active {
  border: 1px solid #808080;
}

.feedback-form button {
  margin-top: 16px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background: #6c8cff;
}
